button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-color);
  }
}